<h2 id='dialogHeader'>{{data}}</h2>                                

<mat-radio-group formControlName='options' *ngFor="let key of sizeOptions">  
    <div>
        <mat-checkbox [checked]="this.localOrder[key]['updateOrder']"
                      id="{{key}}.checkbox" 
                      (change)="selectDialogOptions($event, key)">
                      {{ key }}
        </mat-checkbox>

        <mat-select id='quantitySelect' [disabled]="!this.localOrder[key]['updateOrder']" [value]="this.localOrder[key]['qty']">
            <mat-option *ngFor="let num of availableToOrder" 
                        id="{{key}}.dropdown" 
                        [value]=num
                        (click)="selectDropdownValue(key, num)">
                        {{ num }}
            </mat-option>
        </mat-select>
    </div>
</mat-radio-group> 

<button mat-raised-button mat-dialog-close 
        [disabled]="disableOrderButton"
        (click)='onSave()'>Update order</button>
<button mat-raised-button mat-dialog-close mat-dialog-close=false>Back</button>