<div class="container" id="example-container">
  <img id="menuIcon" src="../../assets/icons/menu-black-36dp.svg" (click)="changeMenu()" [ngStyle]="{ visibility: this.displayMenuIcon }" />

  <h1 id="appHomeTitle">{{ selectedOption }}</h1>

  <div class="flexDiv">
    @for (key of selectedSubMenu; track key.id) {
      <div>
        <img class="clickableCanImage" id="clickableCanImage" src="{{ key.img }}" (click)="displayupdateCart(key)" />
        <p class="productName">{{ key.name }}</p>
        <p class="productName">{{ key.APV }}%</p>
      </div>
    }
  </div>
</div>
