<mat-nav-list class="swally-menu-style" [ngStyle]="{ '--mat-list-list-item-label-text-color': textColour, '--mat-list-list-item-hover-label-text-color': textColour, '--mat-list-list-item-focus-label-text-color': textColour }">
	<mat-list-item (click)="changeView('live')"> Live Orders</mat-list-item>

	<mat-list-item (click)="changeView('completed')"> Completed Orders</mat-list-item>

	<mat-list-item (click)="changeView('menu')"> Menu</mat-list-item>

	<mat-list-item (click)="changeView('products')"> Add Products</mat-list-item>

	<mat-list-item (click)="loadOrder()"> Order</mat-list-item>
</mat-nav-list>
