<mat-nav-list>
    <mat-list-item id="matListItems"                         
                    [ngStyle]="{'color': this.textColour}"
                    (click)="changeView('live')">
                    Live Orders</mat-list-item>

    <mat-list-item id="matListItems"                         
                    [ngStyle]="{'color': this.textColour}"
                    (click)="changeView('menu')">
                    Menu</mat-list-item>

    <mat-list-item id="matListItems"                         
                    [ngStyle]="{'color': this.textColour}"
                    (click)="changeView('products')">
                    Add Products</mat-list-item>
</mat-nav-list>
