<mat-sidenav-container class="navContainer" fixedInViewport="true">

    <mat-sidenav [ngStyle]="{'background-color': this.backgroundColour}" 
                    [(opened)]="sideMenuVisable" disableClose
                    mode="side">
    
    <img id="menuIcon" src="assets/icons/close-white-36dp.svg" (click)="closeMenu()" onmouseover="">

    <mat-nav-list>
        <mat-list-item id="matListItems" 
                        [ngStyle]="{'color': this.textColour}" 
                        *ngFor="let key of availableCatagories" 
                        (click)="changeMenu(key)">
                        {{ key }}
        </mat-list-item>
        <mat-list-item id="matListItems"                         
                       [ngStyle]="{'color': this.textColour}"
                       (click)="displayCart()">
                       Cart
                    </mat-list-item>
    </mat-nav-list>
    
</mat-sidenav>
    <mat-sidenav-content>
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>