<mat-sidenav-container [hasBackdrop]="true" [hasBackdrop]="false">
    <mat-sidenav [ngStyle]="{'background-color': this.backgroundColour}" 
                    [(opened)]="sideMenuVisable" disableClose
                    mode="side" class="sideNavigation" >

    <mat-nav-list [ngStyle]="{'color': this.textColour}">
    <img src="assets/icons/close-white-36dp.svg" (click)="closeMenu()" onmouseover="">
    <mat-list-item *ngFor="let key of availableCatagories" (click)="changeMenu(key)">{{ key }}</mat-list-item>
    </mat-nav-list>

</mat-sidenav>
    <mat-sidenav-content>
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>