<div class="div_boarder">
  <form [formGroup]="newProductForm" (ngSubmit)="onSubmit(newProductForm)">

    <!-- Producer -->
    <div class="form-group">
      <label for="producer">Producer</label>

      <div class="producer-select">
        <select formControlName="producerId" required>
          <option value="" disabled>Select producer</option>

          @for (producer of localProducers; track producer.producerId) {
            <option [value]="producer.producerId">
              {{ producer.producerName }}
            </option>
          }
        </select>

        <button
          type="button"
          mat-raised-button
          class="swally-button"
          (click)="addProducer()">
          Add new
        </button>
      </div>
    </div>

    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="productName" required />
        @if (newProductForm.controls.productName.hasError('duplicateName')) {
        <div class="swally-error">A product with this name already exists.</div>
      }
    </div>

    <!-- Style -->
    <div>
      <label for="style">Style</label>
      <input type="text" formControlName="style" maxlength="50" required/>
    </div>

    <!-- ABV -->
    <div class="form-group">
      <label for="abv">ABV</label>
      <input type="number" formControlName="abv" required/>
    </div>

    <!-- Image URL -->
    <div class="form-group">
      <label for="imgUrl">imgUrl</label>
      <input type="text" formControlName="imgUrl"/>
    </div>

    <div class="swally-button-div">
      <button
          mat-button
          type="button"
          class="swally-button"
          [disabled]="newProductForm.invalid"
          (click)="onSubmit(newProductForm)"
        >
        Add Product
      </button>
    </div>

  </form>
</div>