/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'assets/css/modules/_fonts.css';

.swally-card {
    /* 24rem table plus the card's 16px padding on each side. */
    min-width: calc(24rem + 2rem);
    width: 100% !important;;
    box-sizing: border-box !important;;
    padding: 16px !important;;
    margin-bottom: 16px !important;;
    border: 1px solid #ddd !important;;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15) !important;;
}

.swally-menu-style {
    --mat-list-list-item-label-text-font: "Andale Mono", monospace, sans-serif;
    --mat-list-list-item-label-text-weight: 700;
}