#deleteIcon {
	cursor: pointer;
}

#submit {
	float: left !important;
}

#back {
	float: right !important;
}


.mat-column-username {
	flex: 0 0 40% !important;
	width: 40% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	justify-content: right;
}

.mat-cell,
.mat-mdc-cell,
.mat-header-cell,
.mat-mdc-header-cell {
	box-sizing: border-box !important;
	padding: 8px !important;
}

.mat-column-size {
	flex: 0 0 50% !important;
	width: 50% !important;
}

.mat-column-qty {
	flex: 0 0 25% !important;
	width: 25% !important;
}

.mat-column-price {
	flex: 0 0 25% !important;
	width: 25% !important;
}

.mat-column-price p {
	margin: 0;
	white-space: nowrap;
}

.mat-column-remove {
	flex: 0 0 15% !important;
	width: 15% !important;
}

.button-div {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}